

/* list of results */
.result-name{
	font-size: 1.1em;
	font-weight: bold;
}

.result-photo{
	display: inline-block;
	
}

.result-details{
	display: inline-block;
	margin-left: 20px;
}

.person-row{
	border: 1px solid gray;
	margin-bottom: 1em;
}

.result-interest{
	font-size: 1.0em;
}


div[role=status] {
	display: none;
}

#ui-id-1 {
	display: none!importent;
}



.register-prompt{
	font-size: 1.3em;
	text-align: center;
	
}


.box {
	background: #fff;
	transition: all 0.2s ease;
	border: 2px dashed #dadada;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	background-clip: padding-box;
	padding: 0 20px 20px 20px;
	min-height: 340px;
}

.box:hover {
	border: 2px solid #525C7A;
}

.box span.box-title {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.box .box-content {
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	box-sizing: border-box;
}

.box .box-content p {
	color: #515c66;
	text-transform: none;
}

.errors {
	color: red;
}

li.ui-state-default {
	background: #fff0;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding-bottom: 10px;
}

.btn, .form-control, .well {
	border-radius: 1px;
	box-shadow: 0 0 0;
}

.form-control {
	border-color: #d7d7d7;
}

.well {
	border-color: #d2d2d2;
	box-shadow: 0 1px 0 #cfcfcf;
	border-radius: 3px;
}

.btn span {
	color: #666666;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}





	/*Add Post*/

.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}

.postimage{
	margin-top: 100px;
}




	/* View Post */
.edit-links-delete{
	margin-right: 50px;

}








	/* View Profile */
	
	
ul#interestList {
	border: 0.5px dotted black;
	margin-left: 5px;
	margin-right: 5px;
}

ul.tagit>li.tagit-choice {
	background-color: gray;
	color: lime;
	font-weight: bold;
	box-shadow: 2px 2px 2px #888888;
}

ul#interestList a.tagit-close>span.text-icon {
	display: inline;
	color: window;
	padding: 6px;
	font-size: 1.1em;
}

ul#interestList a.tagit-close:hover {
	text-decoration: none;
}

ul#interestList a.tagit-close:hover>span.text-icon {
	color: blue;
}

#photoUploadForm {
	display: none;
}

#profile-status {
	position: absolute;
	top: 5px;
	left: 60px;
	font-weight: bold;
	color: green;
}

/* .profile-about {
	width: 100%;
	border: 1px solid gray;
	padding: 50px;
	overflow: auto;
} */

.proofile-text {
	font-size: large;
}

.profile-edit {
	position: absolute;
	bottom: 0px;
	right: 50px;
}
	
.editprofile{
	margin-right: 10px;
}

.profilebox {
	border-color: black;
	border: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.profileimage{
	margin-bottom: 10px;
	width: 350px;
	height: 400px;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.edit-profile{
    float:left;
    display:block;
    margin-right:0px;
    clear:left;
}





	/* Edit Profile */

.profile {
    background-color: #eee;
    padding:20px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}


	/* Signin */

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.sign {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


	/* Error */

.login-error {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
	font-weight: bold;
	text-align: center;
}



	/* Navbar */

.navbar>.container-fluid>.navbar-header>.navbar-brand{
	color: white;
}

.navbar {
	background-color: gray;
	border-color: navy;
	color: navy;
}

.navbar>.container-fluid>div>.navbar-nav>li>a {
	background: gray;
	color: navy;
	font-weight: bold;
}

.navbar>.container-fluid>div>.navbar-nav>li>a:hover {
	background: gray;
	color: lime;
	font-weight: bold;
}
